.container {
  max-width: 724px;
  margin: 0 20px;
  width: calc(100% - 40px);
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 940px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
}


.fill-space {
  flex: 1 1 auto;
}

// THIS DOESN"T WORK need to check why