<div class="center fill">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
            <mat-card-subtitle>What exactly is this?</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Talk about what this is and how did I get here...</p>
            <p>About ilocano</p>
            <p>How does it relate to me and other americans</p>
            <p>spelling...</p>
        </mat-card-content>
    </mat-card>
    <!-- <div class="siteWrap">
        <h1>What is this?...</h1>
        <p>
            Building blocks for flashcards...
        </p>
    </div> -->
</div>