<div class="center">
    <h1>About and Thoughts</h1>
    <section class="blurb">
        <p>
            This is a project I took on for ~3 days in order to learn more about Angular!
        </p>
        <p>
            Other than my main motivation to learn and practice front-end development in Angular, this project's general idea was something I always
            wanted to implement!
            That being a language learning platform for Ilocano. A dialect of the Philippines. My Mother's mother
            tongue!
            As families move and transform throughout generations, cultural fragments are created, mutated, and found. They are sometimes also forgotten, lost, or stripped away.
            
            For example, language can be one of the things lost during  this passage.
            In my case, this is what was left behind. Today, I am actively trying to find it again with the help of my
            mom and the internet.
        </p>
        <p>
            In the future, I'd like to build out the back-end so I can handle individual users, their stats,
            implement a system for SRS, and more (in another separate project/ this one was for practice :) ). I would also like to use this opportunity to
            spend more time with my
            mom and have her record
            her pronunciation for me to practice. Since Ilocano doesn't have standardized spelling for words, hearing
            and speaking
            the language is extremely important.
        </p>

        <p>
            The book that I refereed to for spelling comes is from
            <a href="https://www.amazon.com/English-Ilocano-Dictionary-Phrasebook-Carl-Rubino/dp/0781806429"
                target="_blank">this source
            </a> by Carl Rubino.
        </p>
    </section>
    <div id="ending">
        <p>*＊✿❀ Thank you for reading! ❀✿＊*</p>
    </div>

</div>