// .center {
//   border: 5px solid;
//   margin: auto;
//   width: 50%;
//   padding: 10px;
// }

.center {
//   border: 5px solid;
//   margin: auto;
//   width: 50%;
//   padding: 10px;
    // height: 100%;
    padding: 25px;
    
}

.card {
  max-width: 400px;
}

.blurb {
  padding: 40px;

}

#ending {
  text-align: right;
}