<div style="">
    Multi-choice
    <!-- #shoes -->

    <mat-list role="list">

        <mat-list-item *ngFor="let word of translation" role="listitem">
            {{word.english}}
            <mat-selection-list #words [multiple]="false">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="test">
                    <mat-radio-button *ngFor="let word of translation" [value]="word">
                        {{word.ilocano}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-selection-list>
        </mat-list-item>
    </mat-list>
    <!-- <mat-selection-list #words [multiple]="false">

        <mat-list-option *ngFor="let word of translation" [value]="word.english">
            {{word.english}}
        </mat-list-option>

        <mat-radio-button *ngFor="let word of translation" [value]="word">
            Item {{word.english}}
        </mat-radio-button>
    </mat-selection-list> -->

    <!-- <p>
        Option selected: {{words.selectedOptions.hasValue() ? words.selectedOptions.selected[0].value : 'None'}}
    </p> -->
</div>