<div>
    <!-- form to ask config of review -->
    <app-review-form [max]="words.length" (myFormSubmitted)="handleSubmit($event)"></app-review-form>

    <!-- method of review here -->
    <div *ngIf="reviewDetails">
        <app-typed-input *ngIf="reviewDetails.controls['reviewType'].value === 'typeTranslate'"
            [reviewAmount]="reviewDetails.controls['numReview'].value" [session]="currentSession!"
            (sessionResults)="handleSessionEnd($event)"></app-typed-input>
        <app-drag-n-drop *ngIf="reviewDetails.controls['reviewType'].value === 'dragDrop'"
            [reviewAmount]="reviewDetails.controls['numReview'].value"
            (sessionResults)="handleSessionEnd($event)"></app-drag-n-drop>
    </div>

    <!-- results of review  -->
    <app-results *ngIf="submitted" [rightWrongRatio]="endResults!.rightWrongRatio"
        [totalCorrect]="endResults!.totalCorrect" [totalReviewed]="endResults!.totalReviewed"
        [allWordsReviewed]="endResults!.endResults">
    </app-results>
</div>