// @use '@angular/material' as mat;

#word-list-page {
  margin: 30px 150px;
}

.word-list-el-card a {
  text-decoration: none;
}

#word-list {
  min-width: 150px;
  // TODO make responsive
  // make it so that
}

#show-translation-section {
  text-align: right;
}