// @use '@angular/material' as mat;

#word-list-page {
  margin: 20px 20px;
}

.word-list-el-card a {
  text-decoration: none;
}

#word-list {
  min-width: 150px;
}

#show-translation-section {
  text-align: right;
}