<div class="site-content-container">
    <div *ngIf="word" class="container">
        {{word.ilocano}}
        {{word.english}}
    </div>
    word examples <a [href]="exampleURLS" target="_blank">here</a>
    {{exampleURLS}}

    <!-- Make into flex/ this could be put into another comp... -->
    <div id="ind-word-stat">
        <app-stat-card 
            title="✔️ Correct:" 
            [stat]="sessionStatsService.getWordStat(word!.id).correct">
        </app-stat-card>

        <app-stat-card 
            title="❌ Incorrect:" 
            [stat]="sessionStatsService.getWordStat(word!.id).incorrect">
        </app-stat-card>

        <app-stat-card 
            title="💭 Ratio:" 
            [stat]="sessionStatsService.getWordCIRatio(word!.id)">
        </app-stat-card>
    </div>

</div>

<div *ngIf="!word">
    Word not found in dictionary!
    <!-- redirect in a while back to the word list page -->
</div>