<!-- I want it to be besides each other -->
<div class="boards">
    <mat-card class="outer-card boards" >
        <mat-card-header>
            <!-- Slot for the handle -->
            <ng-content></ng-content>
            <mat-card-title>
                <!-- {{ board.title }} -->
                test
            </mat-card-title>
            <mat-card-subtitle>
                <!-- {{ board.id }} -->
                test
            </mat-card-subtitle>
        </mat-card-header>

        <!-- (cdkDropListDropped)="taskDrop($event)" -->
        <div class="tasks" cdkDragDisabled>
            <!-- <div
        class="inner-card"
        cdkDrag
        *ngFor="let task of board.tasks; let i = index"
      > -->
            <div class="inner-card" *ngFor="let word of setWords; let i = index">
                <mat-card [ngClass]="word.english"> {{ word.english }} </mat-card>
            </div>
        </div>
    <!-- </mat-card> -->

    <!-- <mat-card class="outer-card"> -->
        <mat-card-header>
            <!-- Slot for the handle -->
            <ng-content></ng-content>
            <mat-card-title>
                <!-- {{ board.title }} -->
                <!-- {{ toTranslate.ilocano }} -->
                test
            </mat-card-title>
            <mat-card-subtitle>
                <!-- {{ board.id }} -->
                <!-- {{ toTranslate.ilocano }} -->
                test
            </mat-card-subtitle>
        </mat-card-header>

        <!-- (cdkDropListDropped)="taskDrop($event)" -->
        <div class="tasks" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="taskDrop_($event)">
            <!-- <div
        class="inner-card"
        cdkDrag
        *ngFor="let task of board.tasks; let i = index"
      > -->
            <div class="inner-card" cdkDrag (cdkDragStarted)="test($event)" *ngFor="let wordTranslation of toTranslate; let i = index" [cdkDragDisabled]="results[i]">
                <mat-card [ngClass]="showResults(i) "> {{ wordTranslation.ilocano }} </mat-card>
            </div>
        </div>
    </mat-card>

    <!-- Submit button -->
    <div class="board-button">
        <button mat-raised-button color="accent" cdkDragDisabled (click)="checkAnswers()">
            Submit

        </button>
        {{results}}
    </div>
</div>